.places {
  margin: 0 auto;
  width: calc(98400vw / 1280);
/*   display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content); */
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(92800vw / 1024);
  }
}
