.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  width: calc(48400vw / 1280);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

