.lead__image {
  margin: 0;
  width: 100%;
  min-height: calc(61500% / 984);
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100vw;
  }
}
