.cover__background {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/electrichki.jpg);
  background-size: contain;
  background-position: center;
  text-decoration: none;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.cover__background::after {
  content: "";
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.25s linear;
}

.cover__background:hover::after {
  opacity: 0.8;
}

