.footer {
  margin: 0 auto;
  display: grid;
  max-width: 1184px;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1190px) {
  .footer {
    width: calc(92800vw / 1024);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(72000vw / 768);
  }
}

@media screen and (max-width: 680px) {
  .footer {
    width: calc(28800vw / 320);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30px;
    row-gap: 32px;
  }
}
